<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 border text-center px-3 py-3 shadow" style="border-radius:30px">
            <span class="text-secondary">Current KZT~DLR</span>
            <h2 class="font-weight-bold">$430.12</h2>
            <span class="text-secondary">This Month</span>
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>